<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.movietracking">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/movietracking_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/movietracking_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.MovieTracking">
        <activity android:name=".User_Profile"></activity>
        <activity android:name=".ForgotPassword" />
        <activity android:name=".MyListDetail" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SubmitData" />
        <activity android:name=".MyList" />
        <activity android:name=".AddNew" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>